.tbl-col-5 {
    width: 5%;
}

.tbl-col-10 {
    width: 10%;
}

.tbl-col-15 {
    width: 15%;
}

.tbl-col-20 {
    width: 20%;
}

.tbl-col-30 {
    width: 30%;
}

.modal-footer {
    padding: 10px;

    .btn {
        margin-left: 10px;
    }
}

.btn-sm {
    margin-left: 10px;
}

.image-preview {
    max-height: 64px;
    max-width: 100%;
}

.image-miniature {
    height: 24px;
}
